body{
    font-family: 'Montserrat', sans-serif;
    background-color: $bodyColor;
}
.mainArea{
    display: flex;
    height: 100%;
}
.leftArea{
    width: 345px;
    background-color: $leftMenu;
    box-shadow: 5px 0px 5px rgba(0,0,0,0.2);
}

/* left menu bar section */
.menu{
    float: left;
    width: 100%;
    padding: 0 16px;
    ul{
        margin: 0;
        padding: 0;
        li{
            font-size: 22px;
            border-top:solid 1px #088ed7; 
            a{
                color: #fff;
                display: block;
                padding: 20px 10px;
                i{
                    font-size: 35px;
                    margin-right:10px;
                }
                &:hover, &:focus{
                    text-decoration: none;
                    background-color: #088ed7;
                }
                span.txt{
                    position: relative;
                    top: -5px;
                }                
            }
            &:first-child{
                border-top:none;
            }
        }
        .mDropdown{
            ul{
                margin: 0 15px;
                li{
                    font-size: 14px;
                    a{
                        padding: 15px 10px;
                        &:hover{
                            background-color: #0a9ceb;
                        }
                    }
                }
            }
            a.active{
                background-color: #088ed7;
            }            
        }
    }
}

.rightArea{
    width: calc(100% - 345px);
    padding: 0 15px 36px 15px;
    min-height: 800px;
    position: relative;
}
.logo{
    width: auto;
    margin: 60px 27px 60px 27px;
    padding: 0;
    text-align: center;
}
.pagetopMenu{
    margin-top: 16px;
    margin-bottom: 16px;
    float: left;
    width: 100%;
    padding: 0 15px;
    h1{
        font-size: 35px;
        font-weight: 400;
        margin-bottom: 8px;
    }
}
.topbreadCrum{
    .breadcrumb{
        margin-bottom: 0px;
        background-color: transparent;
        padding:8px 0px;
        color: #666666;        
        a{
            color: #666666;
        }
        .active{
            color: #22a7f0;
        }
        li + li::before{
            font: normal normal normal 18px/1 FontAwesome;          
            content: "\f105";
            color: #666;
        }
    }   
}
.topbarRight{
    ul{
        float: right;
        margin: 0;
        padding: 0;
        li{
            float: left;
            margin-left:35px;            
            &:first-child{
                margin-left:0px;
            }
            i{
                font-size: 28px;
                color: #4a4a4a;
            }
            i + span{
                border-radius: 50%;
                background-color: #f03434;
                color: #fff;
                font-size: 10px;
                width: 21px;
                height: 21px;
                position: absolute;
                top:-8px;
                right: -8px;
                text-align: center;
                line-height: 21px;
            }
            .topAlert{
                position: relative;
                margin-top: 20px;                
            }
            a{
                color: #000;
                &:hover, &:visited, &:focus{
                    text-decoration: none;
                }
            } 
        }
    }
}
.topProfile{
    float: left;
    margin: 0;
    padding: 0;
    .profilePic{
        width: 65px;
        height: 65px;
        border-radius: 50%;
        overflow: hidden;
        float: left;
        margin-right: 10px;
    }
    .profileInfo{
        float: left;
        margin: 10px 0 0;
        padding: 0;
        h3{
            font-size: 21px;
            font-weight: 400;
        }
        p{
            font-size: 17px;
            i{
                position: relative;
                top:4px;
            }
        }
        i{
            font-size: 25px;
        }
    }
}

/* Time Zone Area */
.timeZone{
    float: left;
    background-color: #fff;
    margin: 0 0 25px;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    .flagImg{
        text-align: center;
        max-width: 72px;
        max-height: 72px;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden;
        border: solid 1px #cecece;
        img{
            display: inline-block;
        }
    }
    .timeText{
        line-height: 22px;
        h2{
            font-size: 26px;
            font-weight: 800;
            margin-bottom: 5px;
        }
        p{
            font-size: 16px;
            color: #414141;
        }
    }
}
/* foot link Area */
.footArea{
    font-size: 14px;
    color: #666666;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    left: 28px;
    a{
        color: #666666;
        &:hover{
            text-decoration: underline;
        } 
    }
}

/* main block box Area */
.ibox{
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    float: left;
    width: 100%;
}
.iboxHead{
    background-color: #ffffff;
    padding: 15px 15px 15px 25px;
    position: relative;
    h5{
        font-size: 24px;
        font-weight: 600;
        &:before{
            content: "";
            width: 4px;
            height: 25px;
            background-color: #000;
            position: absolute;
            left: 0;
        }
    }
}
.iboxContent{
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    float: left;
    width: 100%;
}

/* My Group Section */
.mygroup{
    h3{
        font-size: 18px;
        a{
            color: $leftMenu;
            text-decoration: underline;
            &:hover{
                text-decoration: none; 
            }
        }
    }
    h3 + ul{            
            margin: 0;
            padding: 15px 0 0;
        li{
            display: inline-block;
            position: relative;
            width: 45px;
            height: 45px;
            margin-left:15px;
            margin-bottom:10px;
            &:first-child{
                margin-left:0px;
            }
            img{
                border-radius: 50%;
                border:solid 1px #fff;
            }
            span{
                width: 10px;
                height: 10px;
                position: absolute;
                border-radius: 50%;
                bottom:0;
                right:3px;
                border:solid 1px #fff;               
            }
        }
    }
    .smallLog{
        position: relative;
        max-width: 45px;
        max-height: 45px;
        img{
            border-radius: 50%;
            border:solid 1px #fff;
        }
        span{
            width: 10px;
            height: 10px;
            position: absolute;
            border-radius: 50%;
            bottom:0;
            right:3px;
            border:solid 1px #fff;               
        }
    }
}

.online{                    
    background-color: $userOnline;
}
.offline{                    
    background-color: $userOffline;
}
.away{                    
    background-color: $userAway;
}
.busy{                    
    background-color: $userBusy;
}

.operatorArea{
    .col-md-5{
        text-align: center;
    }
    .operatorImg{
        display: inline-block;
        position: relative;
        max-height: 154px;
        max-width: 154px;
        margin-bottom: 20px;
        img{
            border-radius: 50%;
        }
        span{
            width: 17px;
            height: 17px;
            border:solid 2px #fff;
            position: absolute;
            bottom: 3px;
            right: 25px;
            border-radius: 50%;
        }
    }
    p{
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 24px;
        span{
            display: block;
            font-size: 18px;
            color: $grayColor;
        }
    }
    .btn-available{
        border-radius: 0px;
        background-color: $leftMenu;
        background-image: none;
        border: none;
        color: #fff;
        text-shadow: 0 0 0 #ffffff;
        padding: 10px 26px;
        &:hover{
            background-color: $leftMenu;
            color: #fff; 
        }
    }
}

.dialPad{
    .dSearch{
        border: none;
        border-radius: 0;
        box-shadow: none;
        border-bottom: solid 1px $grayColor;
        font-size: 18px;
        padding: 15px 20px;
        height: auto;
    }
    .dialArea{
        margin: 15px 0;
        span{
            display: block;
            text-align: center;
            padding:20px 8px;
            font-size: 30px;
            cursor: pointer;
            &:hover{
                background-color: #ccc;
            }
        }        
    }
    .dialBtn{
        text-align: center;
        i{
            font-size: 38px;
        }
        .btn-available{
            border-radius: 0px;
            background-color: $leftMenu;
            background-image: none;
            border: none;
            color: #fff;
            text-shadow: 0 0 0 #ffffff;
            padding: 15px 20px;
            &:hover{
                background-color: $leftMenu;
                color: #fff; 
            }
        }
    }
}

.callWatingTable{
    tbody tr td{
        padding-top: 18px;
        padding-bottom: 18px;
    }
    tr:first-child td{
        border:none;
    }
    tr:last-child td{
        padding-bottom: 0px;
    }
    h4{
        font-size: 20px;
        font-weight: 800;
    }
    h4 + p{
        font-size: 16px;
        font-weight: 400;
    }
    tr td:nth-child(2){
        color: $leftMenu;
        font-size: 18px;
        vertical-align: middle;
    }
    td a{
        display: inline-block;
        margin: 0 5px;
        font-size: 35px;
        color: #cccccc;
        &:hover{
            text-decoration: none;
            color: #000000;
        }
        &:focus{
            text-decoration: none; 
        }
    }
}

.howCan{
    .form-group{        
        margin-bottom: 8px;
    }
    .form-control{
        border-radius: 0;
        height: auto;
        font-size: 16px;
        color: #c0c0c0;
        padding: 12px 25px;
    }
    .input-group-addon{
        border-radius: 0;
        background-color: #fff;
        font-size: 28px;
        color: $leftMenu;
        cursor: pointer;
    }
}
.calllistTable{
    thead tr th{
        font-size: 20px;
        font-weight: 700;
        border: none;
        padding-top:15px;
        padding-bottom:15px;  
        background-color: #e5eff5;
    }
    tr:first-child td{
        border:none;
    }
    tbody tr td{
        padding-top: 18px;
        padding-bottom: 18px;
    }
    tr:last-child td{
        padding-bottom: 0px;
    }
    td a{
        display: inline-block;
        margin: -10px 5px 0;
        font-size: 35px;
        padding: 0;
        color: #cccccc;
        &:hover{
            text-decoration: none;
            color: #000000;
        }
        &:focus{
            text-decoration: none; 
        }
    }
}

.callScr-Dropdown{
    min-height: 120px;
    .MuiFormControl-root-1{
        width:100%;
    }
    .MuiInputLabel-formControl-6{
        left:15px;
    }
    .MuiSelect-root-15{
        margin-left: 10px;
        margin-right: 10px;
    }
    .MuiSelect-selectMenu-17{
        
    }
}