/* Color Section */
$bodyColor : #f3f3f4;
$leftMenu : #22a7f0;
$userOnline: #00e640;
$userOffline: #cccccc;
$userAway: #e7be0a;
$userBusy: #e20b01;
$grayColor: #666666;

/* import css from other */
@import '~font-awesome/css/font-awesome.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap-theme.min.css';
@import 'reset';
@import 'main';
@import 'responsive';