.scrollable{
    height: calc(100vh - 120px);
}
.star-space{
    letter-spacing: 3px;
}
.heart.active i:nth-child(1), .plus.active i:nth-child(1){
    display: none;
}
.heart i:nth-child(2), .plus i:nth-child(2){
    display: block;
}
.topSongName{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cus-hand{
    i{
        cursor: pointer;
    }
}
.showDropBar{
    display: block;
}
.userName{
    text-transform: capitalize;
}
.leftMenuScroll{
    height: calc(100vh - 120px);
}
.noJsplayer, .profileScroll{
    height: calc(100vh - 60px);
}
.profileScrollTab{
    height: calc(100vh - 110px);
}